<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="f1142ff0-e439-4433-90b4-7d45a9b98345"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="Audio3DTest_x.exe"
                Id="Game"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="Audio3DTest_xs.exe"
                Id="Game"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="Audio3DTest (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="Audio3DTest for DirectX Tool Kit for DirectX 12 (GameCore On Xbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
