<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="44fe04bf-12c0-44e6-93f5-d3de73e4978b"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="PostProcessTest_x.exe"
                Id="GameD"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="PostProcessTest_xs.exe"
                Id="GameS"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="PostProcessTest (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="PostProcessTest for DirectX Tool Kit for DirectX 12 (GameCore on Xbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
