<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="709a6e01-fb56-4c3f-a3dc-90c3b8f83c6f"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="SpriteFontTest_x.exe"
                Id="GameD"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="SpriteFontTest_xs.exe"
                Id="GameS"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="SpriteFontTest (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="SpriteFontTest for DirectX Tool Kit for DirectX 12 (GameCore onXbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
