<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="f3b8ad56-44ef-492a-8933-df9e40c2a93c"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="EffectsTest_x.exe"
                Id="GameD"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="EffectsTest_xs.exe"
                Id="GameS"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="EffectsTest (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="EffectsTest for DirectX Tool Kit for DirectX 12 (GameCore on Xbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
