<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="a291b629-4481-4eca-b6d6-a84cf0bedad8"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="D3D12Test_x.exe"
                Id="GameD"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="D3D12Test_xs.exe"
                Id="GameS"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="D3D12Test (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="D3D12Test for DirectX Tool Kit for DirectX 12 (GDKX)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
