<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="9e1ba3db-568e-4ee4-8346-846a3ede9833"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="GamePadTest_x.exe"
                Id="Game"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="GamePadTest_xs.exe"
                Id="Game"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="GamePadTest (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="GamePadTest for DirectX Tool Kit for DirectX 12 (GameCore on Xbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
