<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">

  <Identity Name="07d137f7-60cd-4c05-a1cf-21c225b04446"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0"/>
  
  <ExecutableList>
    <Executable Name="LoadTest_x.exe"
                Id="GameD"
                TargetDeviceFamily="XboxOne"/>
    <Executable Name="LoadTest_xs.exe"
                Id="GameS"
                TargetDeviceFamily="Scarlett"/>
  </ExecutableList>
  
  <ShellVisuals DefaultDisplayName="LoadTest (DirectX 12, GDK)"
                PublisherDisplayName="Microsoft Corporation"
                StoreLogo="StoreLogo.png"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="Logo.png"
                Square44x44Logo="SmallLogo.png"
                Description="LoadTest for DirectX Tool Kit for DirectX 12 (GameCore on Xbox)"
                ForegroundText="light"
                BackgroundColor="#464646"
                SplashScreenImage="SplashScreen.png"/>
</Game>
